<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RESXTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <RESXTranslator.Properties.Settings>
      <setting name="TranslateAPIBaseUrl" serializeAs="String">
        <value>https://api.cognitive.microsofttranslator.com/{0}?api-version=3.0</value>
      </setting>
      <setting name="TranslateSubscriptionKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUseDefaultCredentials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="BingSpellCheckUrl" serializeAs="String">
        <value>https://api.cognitive.microsoft.com/bing/v7.0/spellcheck</value>
      </setting>
      <setting name="BingSpellCheckSubscriptionKey" serializeAs="String">
        <value />
      </setting>
    </RESXTranslator.Properties.Settings>
  </userSettings>
</configuration>
